<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <form action = "register" method="post">
        <table>
            <tr>
                <td>Enter mailId : </td>
                <td> <input type = "text" name = "emailID">   </td>
            </tr>
            <tr>
                <td>Enter Password : </td>
                <td> <input type="password" name = "pass1"></td>
            </tr>
            <tr>
                <td>Enter Password Again : </td>
                <td> <input type="password" name = "pass2"></td>
            </tr>
            <tr>
                <td>Enter Product name </td>
                <td> <input type = "text" name = "product">   </td>
            </tr>
            <tr>
                <td>
                    <label for="device">Kind of Device:</label>
                </td>
                <td>
                    <select id="device" name="device" required>
                        <option value="">--Select Device--</option>
                        <option value="phone">Phone</option>
                        <option value="laptop_desktop">Laptop/Desktop</option>
                        <option value="vr_device">VR Device</option>
                        <option value="watch">Watch</option>
                        <option value="other">Other gadgets</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Subscription Type:</td>
                <td>
                    <input type="radio" id="normal" name="subscription" value="normal" required>
                    <label for="normal">Casual</label>
                    <input type="radio" id="pro" name="subscription" value="pro">
                    <label for="pro">Pro</label>
                </td>
            </tr>            
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>